KOPANO_DOCKER_DIR=/root/kopano-docker-restic-backup
BACKUP_DIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )
RESTIC_RETENTION="--keep-hourly 16 --keep-daily 14 --keep-weekly 8 --keep-monthly 12 --keep-yearly 10"